/* font-family: 'Oleo Script', cursive;
font-family: 'Raleway', sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  font-style: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--basic-textcolor);
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body ul {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

address {
  font-style: normal;
}

.listitem {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Style Logo for header and for footer */
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logoheader-secondpart {
  color: var(--logoheader-second-color);
}

.logofooter-secondpart {
  color: var(--logofooter-second-color);
}

.header {
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--basic-textcolor);
}

/* style header and nav-menu and contact-info*/
.menu .link {
  color: var(--basic-hcolor);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.filter-btn {
  padding: 0;
  letter-spacing: 0.03em;
  width: 100px;
  height: 30px;
  left: 700px;
  top: 430px;
  background: transparent;
  align-items: center;
  text-align: center;
  /* color: var(--white-color); */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
  border-style: none;
}

.menu .link:hover,
.menu .link:focus,
.listinfo .link:hover,
.listinfo .link:focus {
  color: var(--accent-color);
}

.filter-nav .filter-btn:hover,
.filter-nav .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.menu .link.active {
  color: var(--accent-color);
}

.filter-nav .filter-btn.active {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.listitem .header-info {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-textcolor);
}

/* style main section
section Hero */
.tagline {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-box {
  background-color: var(--accent-bgcolor);
}

.btn-order {
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

/* style section base */
.base-title {
  font-weight: 700;
  color: var(--basic-hcolor);
  font-size: 18px;
}

.title {
  font-weight: 700;
  color: var(--basic-hcolor);
}

.text {
  font-weight: 500;
}

/* style for footer */
.address-info {
  color: var(--white-color);
}

.listitem .footer-info {
  line-height: 1.71;
  color: var(--footter-acolor);
}

.footer-box {
  background-color: var(--accent-bgcolor);
}
